In [1]:
#import packages
import os 
import pandas as pd
import glob
import warnings

In [2]:
#change directory to group folder
os.chdir("/data/OA3802g1/census")

In [3]:
#check the folder to make sure all the files are there
!ls

apr21pub.csv			    dec22pub.csv   mar21pub.csv
apr22pub.csv			    feb21pub.csv   mar22pub.csv
apr23pub.csv			    feb22pub.csv   mar23pub.csv
aug21pub.csv			    feb23pub.csv   may21pub.csv
aug22pub.csv			    Industry.xlsx  may22pub.csv
aug23pub.csv			    jan21pub.csv   may23pub.csv
cb_2018_us_state_5m.cpg		    jan22pub.csv   nov21pub.csv
cb_2018_us_state_5m.dbf		    jan23pub.csv   nov22pub.csv
cb_2018_us_state_5m.prj		    jul21pub.csv   oct21pub.csv
cb_2018_us_state_5m.shp		    jul22pub.csv   oct22pub.csv
cb_2018_us_state_5m.shp.ea.iso.xml  jul23pub.csv   oct23pub.csv
cb_2018_us_state_5m.shp.iso.xml     jun21pub.csv   sep21pub.csv
cb_2018_us_state_5m.shx		    jun22pub.csv   sep22pub.csv
dec21pub.csv			    jun23pub.csv   sep23pub.csv

In [4]:
os.listdir("/data/OA3802g1/census")

['may21pub.csv',
 'mar23pub.csv',
 'may23pub.csv',
 'jul22pub.csv',
 'jun23pub.csv',
 'may22pub.csv',
 'mar21pub.csv',
 'jun22pub.csv',
 'cb_2018_us_state_5m.shp',
 'mar22pub.csv',
 'apr21pub.csv',
 'apr23pub.csv',
 'jan21pub.csv',
 'nov21pub.csv',
 'sep23pub.csv',
 'feb23pub.csv',
 'aug21pub.csv',
 'aug22pub.csv',
 'oct23pub.csv',
 'aug23pub.csv',
 'dec21pub.csv',
 'feb22pub.csv',
 'apr22pub.csv',
 'jan22pub.csv',
 'jul21pub.csv',
 'feb21pub.csv',
 'jul23pub.csv',
 'Industry.xlsx',
 'oct21pub.csv',
 'oct22pub.csv',
 'jun21pub.csv',
 'sep22pub.csv',
 'dec22pub.csv',
 'sep21pub.csv',
 'jan23pub.csv',
 'nov22pub.csv']

In [4]:
#establish path to all files in folder ending in ".csv"
path = "/data/OA3802g1/census/*.csv"

In [14]:
#create empty df 
master_df = pd.DataFrame()
#loop over all files 
for fname in glob.glob(path):
    #make each file a new df
    df2 = pd.read_csv(fname)
    #change all the column names to their lowercase version
    df2.columns = map(str.lower, df2.columns)
    #add month worth of census data to master_df
    master_df = pd.concat([master_df, df2])

In [15]:
#check work
master_df

,hrhhid2,hufinal,occurnum,huinttyp,hurespli,huprscnt,hutypea,hutypb,hutypc,hubus,...,prernmin,puern2,puernh1c,peio1ocd,peio2ocd,peernh2,peernh1o,peern,prernwa,prernhly
0,12011,201,1,2,1,0,-1,-1,-1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12011,201,2,2,1,0,-1,-1,-1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12011,201,3,2,1,0,-1,-1,-1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11011,201,1,2,1,0,-1,-1,-1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11011,201,1,2,1,0,-1,-1,-1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126092,15111,213,1,-1,-1,0,4,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126093,15111,218,1,-1,1,0,3,-1,-1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126094,15111,218,1,-1,-1,0,3,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126095,15111,218,1,-1,-1,1,3,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126096,13111,218,1,-1,1,0,3,-1,-1,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
ad_df = pd.DataFrame()
for fname in glob.glob(path):
    df2 = pd.read_csv(fname)
    df2.columns = map(str.lower, df2.columns)
    #group df by if they are active duty or not and put series into df
    grouped_df = df2.groupby(['peafnow'], dropna=False).size().to_frame("Count")
    # calculate num of active duty members in census, total in census, and percentage based on those numbers
    data = [[grouped_df["Count"][1], df2.shape[0], grouped_df["Count"][1] / df2.shape[0]]]
    #make df3 these 3 new values
    df3 = pd.DataFrame(data, columns=['Active Duty', 'Num in Survey', 'Percentage Active Duty'])
    #add all month data to the ad_df
    ad_df = pd.concat([ad_df, df3])

In [18]:
ad_df.reset_index(drop = True)

    Active Duty  Num in Survey  Percentage Active Duty
0           395         132077                0.002991
1           310         124477                0.002490
2           329         127559                0.002579
3           333         127084                0.002620
4           310         127491                0.002432
5           347         129966                0.002670
6           422         131357                0.003213
7           343         127999                0.002680
8           330         126704                0.002604
9           410         133449                0.003072
10          301         126798                0.002374
11          395         133553                0.002958
12          307         127375                0.002410
13          339         126665                0.002676
14          297         124754                0.002381
15          347         129408                0.002681
16          385         127932                0.003009
17          337         127941                0.002634
18          340         127930                0.002658
19          319         127489                0.002502
20          327         128234                0.002550
21          321         129029                0.002488
22          308         128000                0.002406
23          366         129092                0.002835
24          427         132681                0.003218
25          307         127424                0.002409
26          318         129103                0.002463
27          340         126649                0.002685
28          353         129272                0.002731
29          360         127192                0.002830
30          300         125489                0.002391
31          349         127872                0.002729
32          290         125982                0.002302
33          319         126097                0.002530

In [19]:
#get mean of % column
fraction = ad_df['Percentage Active Duty'].mean()
#change to %
percent = fraction * 100
#print
print(f"Over the 34 census datasets, {percent:.2f}% of the sample identified as being active duty.")

Over the 34 census datasets, 0.27% of the sample identified as being active duty.

In [20]:
sex_df = pd.DataFrame()
for fname in glob.glob(path):
    df2 = pd.read_csv(fname)
    df2.columns = map(str.lower, df2.columns)
    #only look at active duty rows of monthly census
    filtered_df = df2.query('peafnow == 1')
    #group by sex
    grouped_df = filtered_df.groupby(['pesex'], dropna=False).size().to_frame("Count")
    data = [[grouped_df["Count"][1],
             grouped_df["Count"][2],
             filtered_df.shape[0], 
             (grouped_df["Count"][1] / filtered_df.shape[0])*100, (grouped_df["Count"][2] / filtered_df.shape[0])*100]]
    #make single row df number of active duty males, females, total active duty, and the percentages
    df3 = pd.DataFrame(data, columns=['AD Males', 'AD Females','Num AD', '%AD Male', '%AD Female'])
    #round calcs to two decimals
    df3 = df3.round(2)
    #add to sex_df
    sex_df = pd.concat([sex_df, df3])

In [21]:
sex_df.reset_index()

    index  AD Males  AD Females  Num AD  %AD Male  %AD Female
0       0       339          56     395     85.82       14.18
1       0       275          35     310     88.71       11.29
2       0       282          47     329     85.71       14.29
3       0       282          51     333     84.68       15.32
4       0       263          47     310     84.84       15.16
5       0       302          45     347     87.03       12.97
6       0       372          50     422     88.15       11.85
7       0       293          50     343     85.42       14.58
8       0       287          43     330     86.97       13.03
9       0       361          49     410     88.05       11.95
10      0       263          38     301     87.38       12.62
11      0       352          43     395     89.11       10.89
12      0       273          34     307     88.93       11.07
13      0       291          48     339     85.84       14.16
14      0       261          36     297     87.88       12.12
15      0       310          37     347     89.34       10.66
16      0       335          50     385     87.01       12.99
17      0       286          51     337     84.87       15.13
18      0       287          53     340     84.41       15.59
19      0       282          37     319     88.40       11.60
20      0       286          41     327     87.46       12.54
21      0       277          44     321     86.29       13.71
22      0       273          35     308     88.64       11.36
23      0       324          42     366     88.52       11.48
24      0       379          48     427     88.76       11.24
25      0       261          46     307     85.02       14.98
26      0       284          34     318     89.31       10.69
27      0       303          37     340     89.12       10.88
28      0       313          40     353     88.67       11.33
29      0       314          46     360     87.22       12.78
30      0       258          42     300     86.00       14.00
31      0       313          36     349     89.68       10.32
32      0       251          39     290     86.55       13.45
33      0       280          39     319     87.77       12.23

In [23]:
percentm = sex_df['%AD Male'].mean()
percentf = sex_df['%AD Female'].mean()
print(f"Over the 34 census datasets, {percentm:.2f}% of Active Duty sample was male and {percentf:.2f}% female.")

Over the 34 census datasets, 87.28% of Active Duty sample was male and 12.72% female.

In [100]:
race_df = pd.DataFrame()
for fname in glob.glob(path):
    print(fname)
    df2 = pd.read_csv(fname)
    df2.columns = map(str.lower, df2.columns)
    #only look at active duty members
    filtered_df = df2.query('peafnow == 1')
    #only keep the race column of ad members
    filtered_df2 = filtered_df[['ptdtrace']]
    #get rid of pesky warning
    pd.options.mode.chained_assignment = None
    #add 26 dummy rows to account for missing race observations in each monthy census
    for i in range(26):
        filtered_df2.loc[len(filtered_df2.index)+i] = [i+1]
    #group by race and get count in a df
    grouped_df = filtered_df2.groupby(['ptdtrace'], dropna=False).size().to_frame("Count")
    #subtract 1 off each value of race to remove dummy row counts... now the grouped_df has 0 for race categories not observed
    grouped_df.loc[:, "Count"] = grouped_df["Count"].apply(lambda x: x - 1)
    data = [[(grouped_df["Count"][1]/filtered_df.shape[0])*100,
         (grouped_df["Count"][2]/filtered_df.shape[0])*100,
         (grouped_df["Count"][3]/filtered_df.shape[0])*100,
         (grouped_df["Count"][4]/filtered_df.shape[0])*100,
         (grouped_df["Count"][5]/filtered_df.shape[0])*100,
         ((filtered_df.shape[0] - (grouped_df["Count"][1]+grouped_df["Count"][2]+grouped_df["Count"][3]+grouped_df["Count"][4]+grouped_df["Count"][5])) / filtered_df.shape[0])*100,
         filtered_df.shape[0]]]
    df3 = pd.DataFrame(data, columns=['White', 'Black','American Indian', 'Asian', 'Islander','Other', 'Total'])
    df3 = df3.round(1)
    race_df = pd.concat([race_df, df3])

/data/OA3802g1/census/may21pub.csv
/data/OA3802g1/census/mar23pub.csv
/data/OA3802g1/census/may23pub.csv
/data/OA3802g1/census/jul22pub.csv
/data/OA3802g1/census/jun23pub.csv
/data/OA3802g1/census/may22pub.csv
/data/OA3802g1/census/mar21pub.csv
/data/OA3802g1/census/jun22pub.csv
/data/OA3802g1/census/mar22pub.csv
/data/OA3802g1/census/apr21pub.csv
/data/OA3802g1/census/apr23pub.csv
/data/OA3802g1/census/jan21pub.csv
/data/OA3802g1/census/nov21pub.csv
/data/OA3802g1/census/sep23pub.csv
/data/OA3802g1/census/feb23pub.csv
/data/OA3802g1/census/aug21pub.csv
/data/OA3802g1/census/aug22pub.csv
/data/OA3802g1/census/oct23pub.csv
/data/OA3802g1/census/aug23pub.csv
/data/OA3802g1/census/dec21pub.csv
/data/OA3802g1/census/feb22pub.csv
/data/OA3802g1/census/apr22pub.csv
/data/OA3802g1/census/jan22pub.csv
/data/OA3802g1/census/jul21pub.csv
/data/OA3802g1/census/feb21pub.csv
/data/OA3802g1/census/jul23pub.csv
/data/OA3802g1/census/oct21pub.csv
/data/OA3802g1/census/oct22pub.csv
/data/OA3802g1/census/jun21pub.csv
/data/OA3802g1/census/sep22pub.csv
/data/OA3802g1/census/dec22pub.csv
/data/OA3802g1/census/sep21pub.csv
/data/OA3802g1/census/jan23pub.csv
/data/OA3802g1/census/nov22pub.csv

In [103]:
race_df

   White  Black  American Indian  Asian  Islander  Other  Total
0   81.5   10.9              1.5    3.3       0.8    2.0    395
0   80.0    9.4              0.6    3.5       2.6    3.9    310
0   76.0   12.8              0.9    5.2       2.4    2.7    329
0   80.5   10.5              1.5    4.5       1.2    1.8    333
0   77.4   12.9              0.6    5.5       1.0    2.6    310
0   79.5   11.0              1.4    3.7       1.4    2.9    347
0   80.6    8.8              1.4    4.5       1.2    3.6    422
0   79.9   11.7              1.2    4.4       0.9    2.0    343
0   78.5   12.7              0.9    4.2       1.2    2.4    330
0   81.5    9.3              1.7    3.9       1.0    2.7    410
0   77.4   10.6              0.3    4.7       2.7    4.3    301
0   81.5   11.1              0.8    3.0       1.8    1.8    395
0   82.7   10.4              0.0    2.0       1.3    3.6    307
0   81.4    9.7              0.9    4.4       1.8    1.8    339
0   81.1    9.8              1.0    2.7       2.4    3.0    297
0   79.5   10.4              1.2    4.0       1.4    3.5    347
0   78.7   12.5              1.0    3.6       0.8    3.4    385
0   79.8   11.0              1.5    3.3       1.8    2.7    337
0   79.4   12.4              0.6    3.5       1.5    2.6    340
0   82.1   11.3              0.3    2.8       0.9    2.5    319
0   78.3   13.5              0.9    4.0       1.8    1.5    327
0   78.5   10.9              1.2    5.0       1.6    2.8    321
0   80.2   13.6              1.3    2.3       1.0    1.6    308
0   81.1    9.3              1.9    3.8       1.9    1.9    366
0   80.6   11.0              1.2    3.5       1.9    1.9    427
0   80.8   12.1              0.3    4.2       1.0    1.6    307
0   79.2   12.3              0.0    3.8       1.3    3.5    318
0   78.8   15.0              0.6    1.8       0.9    2.9    340
0   81.3    9.6              2.0    2.8       1.1    3.1    353
0   80.6   11.4              0.8    2.8       1.1    3.3    360
0   77.7   15.0              0.0    2.7       2.0    2.7    300
0   81.4    8.9              0.6    3.4       1.7    4.0    349
0   78.6   13.1              0.7    3.1       1.4    3.1    290
0   76.5   15.4              0.9    2.5       1.3    3.4    319

In [104]:
percentw = race_df['White'].mean()
percentb = race_df['Black'].mean()
percentai = race_df['American Indian'].mean()
percenta = race_df['Asian'].mean()
percentis = race_df['Islander'].mean()
percento = race_df['Other'].mean()
print(f"Over the 34 census datasets, {percentw:.2f}% of Active Duty sample was white.")
print(f"Over the 34 census datasets, {percentb:.2f}% of Active Duty sample was black.")
print(f"Over the 34 census datasets, {percentai:.2f}% of Active Duty sample was American Indian.")
print(f"Over the 34 census datasets, {percenta:.2f}% of Active Duty sample was Asian.")
print(f"Over the 34 census datasets, {percentis:.2f}% of Active Duty sample was Pacific Islander/Hawaiian.")
print(f"Over the 34 census datasets, {percento:.2f}% of Active Duty sample was Other.")

Over the 34 census datasets, 79.78% of Active Duty sample was white.
Over the 34 census datasets, 11.48% of Active Duty sample was black.
Over the 34 census datasets, 0.93% of Active Duty sample was American Indian.
Over the 34 census datasets, 3.60% of Active Duty sample was Asian.
Over the 34 census datasets, 1.47% of Active Duty sample was Pacific Islander/Hawaiian.
Over the 34 census datasets, 2.74% of Active Duty sample was Other.

In [5]:
hispanic_df = pd.DataFrame()
for fname in glob.glob(path):
    df2 = pd.read_csv(fname)
    df2.columns = map(str.lower, df2.columns)
    filtered_df = df2.query('peafnow == 1')
    filtered_df2 = filtered_df[['pehspnon']]
    grouped_df = filtered_df2.groupby(['pehspnon'], dropna=False).size().to_frame("Count")
    data = [[(grouped_df["Count"][1]/filtered_df2.shape[0])*100,
         (grouped_df["Count"][2]/filtered_df2.shape[0])*100,
         filtered_df.shape[0]]]
    df3 = pd.DataFrame(data, columns=['Hispanic', 'Non Hispanic','Total'])
    df3 = df3.round(1)
    hispanic_df = pd.concat([hispanic_df, df3])

In [6]:
hispanic_df

   Hispanic  Non Hispanic  Total
0      15.9          84.1    395
0      15.5          84.5    310
0      17.9          82.1    329
0      16.5          83.5    333
0      17.4          82.6    310
0      13.8          86.2    347
0      12.8          87.2    422
0      14.9          85.1    343
0      12.1          87.9    330
0      12.9          87.1    410
0      14.6          85.4    301
0      11.4          88.6    395
0      14.7          85.3    307
0      13.9          86.1    339
0      16.2          83.8    297
0      17.3          82.7    347
0      15.8          84.2    385
0      14.8          85.2    337
0      15.0          85.0    340
0      13.2          86.8    319
0      13.8          86.2    327
0      11.8          88.2    321
0      13.6          86.4    308
0      16.9          83.1    366
0      10.8          89.2    427
0      16.6          83.4    307
0      14.5          85.5    318
0      16.8          83.2    340
0      16.7          83.3    353
0      14.4          85.6    360
0      18.0          82.0    300
0      17.8          82.2    349
0      17.9          82.1    290
0      17.6          82.4    319

In [7]:
percenth = hispanic_df['Hispanic'].mean()
percentn = hispanic_df['Non Hispanic'].mean()
print(f"Over the 34 census datasets, {percenth:.2f}% of Active Duty sample was Hispanic.")
print(f"Over the 34 census datasets, {percentn:.2f}% of Active Duty sample was Non-Hispanic.")

Over the 34 census datasets, 15.11% of Active Duty sample was Hispanic.
Over the 34 census datasets, 84.89% of Active Duty sample was Non-Hispanic.

In [146]:
age_df = pd.DataFrame()
for fname in glob.glob(path):
    df2 = pd.read_csv(fname)
    df2.columns = map(str.lower, df2.columns)
    filtered_df = df2.query('peafnow == 1')
    filtered_df2 = filtered_df[['prtage']]
    filtered_df2 = filtered_df2.reset_index(drop=True)
    #use cut command to cut ages into groups and put "bin" as a new columns containing the age of the service member
    filtered_df2['bins'] = pd.cut(x=filtered_df2['prtage'], bins=[1, 25, 30, 35, 40, 100])
    #get rid of pesky warning
    warnings.simplefilter(action='ignore', category=FutureWarning)
    #continue as before
    grouped_df = filtered_df2.groupby(['bins']).size().to_frame("Count")
    count_list = grouped_df['Count'].tolist()
    data = [[(count_list[0]/filtered_df2.shape[0])*100,
         (count_list[1]/filtered_df2.shape[0])*100,
         (count_list[2]/filtered_df2.shape[0])*100,
         (count_list[3]/filtered_df2.shape[0])*100,
         (count_list[4]/filtered_df2.shape[0])*100,
         filtered_df2.shape[0]]]
    df3 = pd.DataFrame(data, columns=['<=25', '26-30','31-35','36-40','>=41','Total'])
    df3 = df3.round(1)
    age_df = pd.concat([age_df, df3])

In [147]:
age_df

   <=25  26-30  31-35  36-40  >=41  Total
0  21.0   18.7   21.3   18.0  21.0    395
0  23.5   17.1   20.0   19.0  20.3    310
0  26.7   18.2   23.1   14.9  17.0    329
0  21.6   18.6   21.3   17.4  21.0    333
0  21.6   20.0   22.3   16.8  19.4    310
0  24.2   19.6   21.6   18.2  16.4    347
0  20.4   20.1   21.8   17.8  19.9    422
0  22.7   21.6   20.4   17.5  17.8    343
0  20.0   20.3   21.5   18.8  19.4    330
0  22.2   18.8   19.8   17.8  21.5    410
0  25.9   17.9   21.9   17.6  16.6    301
0  20.8   20.5   20.3   17.5  21.0    395
0  26.4   16.9   17.9   20.5  18.2    307
0  20.9   15.6   15.0   19.8  28.6    339
0  29.0   17.2   18.2   17.5  18.2    297
0  23.6   20.5   20.7   15.9  19.3    347
0  24.4   20.0   18.7   16.1  20.8    385
0  21.7   15.4   18.1   19.9  24.9    337
0  21.8   18.2   17.1   17.1  25.9    340
0  26.3   15.0   17.9   20.1  20.7    319
0  22.6   16.5   21.1   19.6  20.2    327
0  20.2   21.8   22.1   20.6  15.3    321
0  26.0   14.3   18.8   19.5  21.4    308
0  21.9   19.4   22.1   18.6  18.0    366
0  21.8   21.1   18.3   18.3  20.6    427
0  20.8   18.6   20.2   17.3  23.1    307
0  22.0   18.9   21.4   18.6  19.2    318
0  24.1   20.0   18.5   14.4  22.9    340
0  21.2   20.4   22.7   18.1  17.6    353
0  23.3   20.0   18.6   16.4  21.7    360
0  22.3   19.0   16.7   19.7  22.3    300
0  23.2   20.9   20.3   16.6  18.9    349
0  27.2   17.6   18.3   18.3  18.6    290
0  24.5   22.3   16.0   15.4  21.9    319

In [149]:
percent1 = age_df['<=25'].mean()
percent2 = age_df['26-30'].mean()
percent3 = age_df['31-35'].mean()
percent4 = age_df['36-40'].mean()
percent5 = age_df['>=41'].mean()
print(f"Over the 34 census datasets, {percent1:.2f}% of Active Duty sample was aged <=25.")
print(f"Over the 34 census datasets, {percent2:.2f}% of Active Duty sample was aged 26-30.")
print(f"Over the 34 census datasets, {percent3:.2f}% of Active Duty sample was aged 31-35.")
print(f"Over the 34 census datasets, {percent4:.2f}% of Active Duty sample was aged 36-40.")
print(f"Over the 34 census datasets, {percent5:.2f}% of Active Duty sample was aged >=41.")

Over the 34 census datasets, 23.11% of Active Duty sample was aged <=25.
Over the 34 census datasets, 18.85% of Active Duty sample was aged 26-30.
Over the 34 census datasets, 19.82% of Active Duty sample was aged 31-35.
Over the 34 census datasets, 17.93% of Active Duty sample was aged 36-40.
Over the 34 census datasets, 20.28% of Active Duty sample was aged >=41.

In [166]:
income_df = pd.DataFrame()
for fname in glob.glob(path):
    df2 = pd.read_csv(fname)
    df2.columns = map(str.lower, df2.columns)
    filtered_df = df2.query('peafnow == 1')
    filtered_df2 = filtered_df[['hefaminc']]
    #ignore row warning
    pd.options.mode.chained_assignment = None
    #add dummy rows
    for i in range(16):
        filtered_df2.loc[len(filtered_df2.index)+i] = [i+1]
    grouped_df = filtered_df2.groupby(['hefaminc'], dropna=False).size().to_frame("Count")
    #remove dummy rows
    grouped_df.loc[:, "Count"] = grouped_df["Count"].apply(lambda x: x - 1)
    data = [[(grouped_df["Count"][1]/filtered_df.shape[0])*100,
         (grouped_df["Count"][2]/filtered_df.shape[0])*100,
         (grouped_df["Count"][3]/filtered_df.shape[0])*100,
         (grouped_df["Count"][4]/filtered_df.shape[0])*100,
         (grouped_df["Count"][5]/filtered_df.shape[0])*100,
         (grouped_df["Count"][6]/filtered_df.shape[0])*100,
         (grouped_df["Count"][7]/filtered_df.shape[0])*100,
         (grouped_df["Count"][8]/filtered_df.shape[0])*100,
         (grouped_df["Count"][9]/filtered_df.shape[0])*100,
         (grouped_df["Count"][10]/filtered_df.shape[0])*100,
         (grouped_df["Count"][11]/filtered_df.shape[0])*100,
         (grouped_df["Count"][12]/filtered_df.shape[0])*100,
         (grouped_df["Count"][13]/filtered_df.shape[0])*100,
         (grouped_df["Count"][14]/filtered_df.shape[0])*100,
         (grouped_df["Count"][15]/filtered_df.shape[0])*100,
         (grouped_df["Count"][16]/filtered_df.shape[0])*100,
         filtered_df.shape[0]]]
    df3 = pd.DataFrame(data, columns=['<5,000', 
                                      '5,000-7,499',
                                      '7,500-9,999',
                                      '10,000-12,499',
                                      '12,500-14,999',
                                      '15,000-19,999',
                                      '20,000-24,999',
                                      '25,000-29,999',
                                      '30,000-34,999',
                                      '35,000-39,999',
                                      '40,000-49,999',
                                      '50,000-59,999',
                                      '60,000-74,999',
                                      '75,000-99,999',
                                      '100,000-149,999',
                                      '>150,000',
                                      'Total'])
    df3 = df3.round(1)
    income_df = pd.concat([income_df, df3])

In [167]:
income_df

,"<5,000","5,000-7,499","7,500-9,999","10,000-12,499","12,500-14,999","15,000-19,999","20,000-24,999","25,000-29,999","30,000-34,999","35,000-39,999","40,000-49,999","50,000-59,999","60,000-74,999","75,000-99,999","100,000-149,999",">150,000",Total
0,1.8,0.3,0.0,0.8,0.0,0.3,2.0,3.3,5.3,4.8,7.1,10.9,12.4,20.3,18.7,12.2,395
0,0.6,0.3,0.3,0.0,0.3,0.0,2.3,1.9,3.2,2.6,8.4,9.4,13.9,15.5,25.5,15.8,310
0,0.3,0.6,0.6,1.5,0.6,0.9,1.2,1.2,3.6,4.3,9.1,10.0,10.9,15.2,21.0,18.2,329
0,1.2,0.3,0.0,0.9,0.6,1.5,1.2,3.9,4.5,3.0,8.7,7.5,16.8,16.2,22.2,11.4,333
0,1.6,0.6,0.0,1.6,1.0,0.6,1.3,1.0,2.9,2.9,8.4,11.3,13.2,16.5,19.7,17.4,310
0,0.6,0.3,0.3,0.6,0.0,0.6,1.2,3.7,3.2,4.0,8.4,10.4,17.3,15.6,21.9,12.1,347
0,2.4,0.2,0.0,0.5,1.2,0.5,1.4,2.6,4.3,4.5,8.5,10.4,14.0,18.2,20.1,11.1,422
0,1.5,0.0,0.3,1.2,0.6,1.2,0.9,4.1,3.2,4.4,8.2,9.3,17.2,14.0,24.5,9.6,343
0,1.2,0.0,0.0,0.6,0.9,1.8,1.2,1.5,1.8,3.6,7.6,11.5,13.9,18.5,21.5,14.2,330
0,2.2,0.5,0.2,1.0,0.5,0.5,1.5,3.2,4.6,5.4,7.3,10.2,12.7,20.5,19.0,10.5,410
0,0.3,0.3,0.3,0.0,0.3,0.0,1.7,1.7,2.3,3.3,10.3,8.0,12.6,15.9,22.9,19.9,301
0,1.0,0.8,0.0,1.0,1.0,1.0,2.5,4.1,5.6,5.3,5.6,10.9,15.4,15.9,18.2,11.6,395
0,1.3,0.7,1.0,0.7,0.0,1.0,1.0,2.3,2.9,4.9,10.7,9.4,15.6,18.9,14.7,15.0,307
0,0.9,0.0,0.6,0.9,0.0,0.6,1.2,1.8,2.4,2.9,7.7,7.7,12.7,16.2,23.6,20.9,339
0,0.3,0.3,1.0,0.0,0.3,0.0,1.7,2.7,3.4,3.7,8.4,9.4,13.5,15.2,22.9,17.2,297
0,1.2,0.3,1.2,1.2,0.6,1.2,1.4,3.5,5.5,4.9,8.4,13.5,15.6,13.5,17.3,10.7,347
0,0.8,0.3,0.5,0.8,0.5,1.3,1.0,3.9,3.9,3.4,8.1,6.0,16.1,16.4,22.9,14.3,385
0,0.9,0.0,0.9,0.9,0.0,1.2,1.2,1.5,3.3,2.1,7.1,8.0,15.4,15.4,22.0,20.2,337
0,0.9,0.3,0.0,0.9,0.3,0.9,0.9,1.2,3.8,3.2,7.4,9.1,13.8,15.6,22.9,18.8,340
0,1.3,0.3,0.3,0.6,0.3,1.6,1.9,3.1,2.2,4.1,9.1,8.2,14.4,18.2,19.7,14.4,319
0,1.2,0.0,0.0,0.6,0.3,1.8,1.2,1.8,2.8,5.2,7.3,8.6,12.2,20.5,20.8,15.6,327
0,0.9,0.0,0.3,0.6,0.3,0.9,0.9,2.5,2.8,5.6,6.2,10.6,15.9,18.1,21.2,13.1,321
0,1.3,0.3,0.3,1.0,0.3,1.6,1.6,2.9,2.6,4.5,7.1,7.5,14.6,17.2,22.4,14.6,308
0,0.3,0.3,0.3,0.5,0.5,0.8,2.7,4.6,4.4,5.5,7.7,11.5,13.7,17.8,18.3,11.2,366
0,1.6,1.2,0.7,1.2,1.2,1.2,2.1,3.5,4.7,6.1,6.8,10.5,12.4,15.7,20.8,10.3,427
0,1.0,0.3,0.0,1.3,0.7,1.3,0.7,1.0,3.6,3.3,8.5,11.4,12.4,14.7,22.8,17.3,307
0,1.6,0.6,0.9,0.3,0.3,0.3,1.3,2.2,4.4,5.7,10.1,11.0,14.2,18.6,15.7,12.6,318
0,0.9,0.3,0.3,0.6,0.3,1.5,1.5,4.1,2.9,5.0,7.1,10.0,12.9,16.5,20.3,15.9,340
0,1.1,0.3,0.0,0.3,0.3,0.6,2.3,4.5,4.8,4.5,7.4,11.6,13.0,20.1,18.4,10.8,353
0,1.1,0.6,0.3,0.3,0.3,2.2,0.8,4.2,3.1,6.1,5.0,7.8,13.3,15.3,23.9,15.6,360
0,0.0,0.0,0.3,0.7,0.0,0.3,1.7,3.0,3.0,4.0,7.7,12.7,13.0,17.7,18.3,17.7,300
0,1.1,0.3,0.9,0.6,0.6,0.9,1.1,3.2,5.2,5.4,10.3,10.6,15.5,17.2,16.3,10.9,349
0,0.3,0.0,0.7,0.7,0.0,0.3,1.7,2.1,3.1,3.1,8.3,11.4,14.8,17.6,20.7,15.2,290
0,0.3,0.0,0.3,0.6,0.0,1.3,1.6,3.1,2.5,5.6,8.2,10.0,14.7,15.7,18.2,17.9,319

In [169]:
#print output
percent1 = income_df['<5,000'].mean()
percent2 = income_df['5,000-7,499'].mean()
percent3 = income_df['7,500-9,999'].mean()
percent4 = income_df['10,000-12,499'].mean()
percent5 = income_df['12,500-14,999'].mean()
percent6 = income_df['15,000-19,999'].mean()
percent7 = income_df['20,000-24,999'].mean()
percent8 = income_df['25,000-29,999'].mean()
percent9 = income_df['30,000-34,999'].mean()
percent10 = income_df['35,000-39,999'].mean()
percent11= income_df['40,000-49,999'].mean()
percent12= income_df['50,000-59,999'].mean()
percent13 = income_df['60,000-74,999'].mean()
percent14 = income_df['75,000-99,999'].mean()
percent15= income_df['100,000-149,999'].mean()
percent16 = income_df['>150,000'].mean()

print(f"Over the 34 census datasets, {percent1:.2f}% of Active Duty sample had a family income <= 5,000 dollars.")
print(f"Over the 34 census datasets, {percent2:.2f}% of Active Duty sample had a family income 5,000-7,499 dollars.")
print(f"Over the 34 census datasets, {percent3:.2f}% of Active Duty sample had a family income 7,500-9,999 dollars.")
print(f"Over the 34 census datasets, {percent4:.2f}% of Active Duty sample had a family income 10,000-12,499 dollars.")
print(f"Over the 34 census datasets, {percent5:.2f}% of Active Duty sample had a family income 12,500-14,999 dollars.")
print(f"Over the 34 census datasets, {percent6:.2f}% of Active Duty sample had a family income 15,000-19,999 dollars.")
print(f"Over the 34 census datasets, {percent7:.2f}% of Active Duty sample had a family income 20,000-24,999 dollars.")
print(f"Over the 34 census datasets, {percent8:.2f}% of Active Duty sample had a family income 25,000-29,999 dollars.")
print(f"Over the 34 census datasets, {percent9:.2f}% of Active Duty sample had a family income 30,000-34,999 dollars.")
print(f"Over the 34 census datasets, {percent10:.2f}% of Active Duty sample had a family income 35,000-39,999 dollars.")
print(f"Over the 34 census datasets, {percent11:.2f}% of Active Duty sample had a family income 40,000-49,999 dollars.")
print(f"Over the 34 census datasets, {percent12:.2f}% of Active Duty sample had a family income 50,000-59,999 dollars.")
print(f"Over the 34 census datasets, {percent13:.2f}% of Active Duty sample had a family income 60,000-74,999 dollars.")
print(f"Over the 34 census datasets, {percent14:.2f}% of Active Duty sample had a family income 75,000-99,999 dollars.")
print(f"Over the 34 census datasets, {percent15:.2f}% of Active Duty sample had a family income 100,000-149,999 dollars.")
print(f"Over the 34 census datasets, {percent16:.2f}% of Active Duty sample had a family income >150,000 dollars.")

Over the 34 census datasets, 1.03% of Active Duty sample had a family income <= 5,000 dollars.
Over the 34 census datasets, 0.31% of Active Duty sample had a family income 5,000-7,499 dollars.
Over the 34 census datasets, 0.38% of Active Duty sample had a family income 7,500-9,999 dollars.
Over the 34 census datasets, 0.74% of Active Duty sample had a family income 10,000-12,499 dollars.
Over the 34 census datasets, 0.41% of Active Duty sample had a family income 12,500-14,999 dollars.
Over the 34 census datasets, 0.93% of Active Duty sample had a family income 15,000-19,999 dollars.
Over the 34 census datasets, 1.47% of Active Duty sample had a family income 20,000-24,999 dollars.
Over the 34 census datasets, 2.79% of Active Duty sample had a family income 25,000-29,999 dollars.
Over the 34 census datasets, 3.58% of Active Duty sample had a family income 30,000-34,999 dollars.
Over the 34 census datasets, 4.32% of Active Duty sample had a family income 35,000-39,999 dollars.
Over the 34 census datasets, 8.01% of Active Duty sample had a family income 40,000-49,999 dollars.
Over the 34 census datasets, 9.89% of Active Duty sample had a family income 50,000-59,999 dollars.
Over the 34 census datasets, 14.12% of Active Duty sample had a family income 60,000-74,999 dollars.
Over the 34 census datasets, 16.89% of Active Duty sample had a family income 75,000-99,999 dollars.
Over the 34 census datasets, 20.57% of Active Duty sample had a family income 100,000-149,999 dollars.
Over the 34 census datasets, 14.54% of Active Duty sample had a family income >150,000 dollars.